.dealers-header {
  border: none;
  box-shadow: none;
}

.dealers-toolbar {
  min-height: 6rem;
  display: flex;
  align-items: center;
  font-family: "clash display";
}

.dealers-title {
  font-size: 40px;
  font-weight: 600;
}

.dealers-searchbar {
  min-height: 80px;
}
