.editar-perfil-page {
  ion-item {
    margin-bottom: 0.5rem;
    border-radius: 8px;

    ion-label {
      font-size: 14px;
      font-weight: 500;
    }

    ion-input,
    ion-textarea {
      font-size: 16px;
    }
  }
}
